<div class="hero-block">
    <div class="hero-block__image-wrap">
        <img src="{{cdn "/assets/img/vegetable-salad.png"}}" alt="photo-hero">
    </div>
    <div class="hero-block__card">
        <h1 class="hero-block__header">Editorial mode</h1>
        <hr class="hero-block__hr">
        <h4 class="hero-block__description">Link products to blog posts and list them in an article</h4>
        <span class="hero-block__btn">
            <a href="">Shop now</a></span>
    </div>
</div>

<div class="categories">
    <ul class="categories__featured-categories">
        <li class="categories__featured-category">
            <div class="categories__name">Breakfast</div>
            <div class="categories__image">
                <img src="https://cdn11.bigcommerce.com/s-w3d4ziaaha/images/stencil/500x500/i/_0000s_0003_featured-breakfast__31257.original-%281%29_category.original.png" alt="photo-breakfast">
            </div>
        </li>
        <li class="categories__featured-category">
            <div class="categories__name">Juice</div>
            <div class="categories__image">
                <img src="https://cdn11.bigcommerce.com/s-w3d4ziaaha/images/stencil/500x500/a/_0000s_0002_featured-drinks__03524.original_category.original.png" alt="photo-juice">
            </div>
        </li>
        <li class="categories__featured-category">
            <div class="categories__name">Meals</div>
            <div class="categories__image">
                <img src="https://cdn11.bigcommerce.com/s-w3d4ziaaha/images/stencil/500x500/n/_0000s_0001_featured-meals__09975.original_category.original.png" alt="photo-meals">
            </div>
        </li>
        <li class="categories__featured-category">
            <div class="categories__name">Snacks</div>
            <div class="categories__image">
                <img src="https://cdn11.bigcommerce.com/s-w3d4ziaaha/images/stencil/500x500/e/_0000s_0000_featured-snacks__94740.original_category.original.png" alt="photo-snacks">
            </div>
        </li>
    </ul>
</div>